.navbarWrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    .twitImage {
        width: 50px;
        height: 50px;
        background-color: transparent;
        margin-top: 8px;
    }
}

.navItem {
    display: flex;
    justify-content: center;
    margin: 10px;
    .link {
        width: 100%;
        text-decoration: none;
        color: #a8a8a8;
        &:hover {
            color: white;
        }
    }
}
.navbar {
    display: flex;
    justify-content: center;
}
.logout {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 12px;
    font-weight: 600;
    &:hover {
        border: 2px solid #a8a8a8;
    }
}
.downContent {
    display: flex;
    justify-content: center;
}
